.background {background-image: linear-gradient(to bottom right, #0085FF, #FF27A9);
    font-family: 'Open Sans', sans-serif;}

.keyboard-button {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: solid 4px white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.keyboard-button:hover { 
    outline: none;
    box-shadow: 0 0 10px #ffffff;
}

/* 
Interactive Elements (for when we code with js)
For onclick events and will change color of bg for buttons.

c scale */
.keyboard-button-pressed {
    background-color: #266DD3;
}

/* d scale */
.keyboard-button-pressed {
    background-color: #C5DCA0;
}

/* e scale */
.keyboard-button-pressed {
    background-color: #F5F2B8;
}

/* f scale */
.keyboard-button-pressed {
    background-color: #EF6F6C;
}

/* g scale */
.keyboard-button-pressed {
    background-color: #FFA770;
}

/* b scale */
.keyboard-button-pressed {
    background-color: #FFAFD8;
}

/* c scale 2nd */
.keyboard-button-pressed {
    background-color: #06BEE1;
}