.background {background-image: linear-gradient(to bottom right, #0085FF, #FF27A9);
    font-family: 'Open Sans', sans-serif;}

.keyboard-button {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: solid 4px white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.keyboard-button:hover { 
    outline: none;
    box-shadow: 0 0 10px #ffffff;
}
