body {
    background-image: linear-gradient(to bottom right, #0085FF, #FF27A9);
    font-family: 'Open Sans', sans-serif;
    /*min-height: 100%;*/
    min-height: 1000px;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
}

h2, h3, p {
    color: white;
}

p.bold {
    font-weight: bold;
}

.largerText {
    font-size: 120%;
}

.center {
    text-align: center;
    justify-content: center;
}

.handcursor {
    cursor: pointer;
}

.headerIcon {
    width: 50px;
    padding-right: 10px;
}

.backIcon {
    padding-right: 18px;
}

.icon {
    width: 50px;
    height: 50px;
}

.musicBoxes {
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

header {
    max-width: 1028px;
    padding-left: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainSection {
    max-width: 1028px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.newThingDiv {
    display: flex;
    align-items: center;
}

.newThingDiv h2 {
    padding-left: 20px;
}

.song {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

button {
    width: 600px;
    height: 60px;
    background: #8ED000;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
}

/* Music Creation Section Specifc CSS ////////////////////////// */

/* Header */
header.sendASong {
    justify-content: flex-start;
}

/* Input Section */

.inputText {
    display: flex;
    background: rgba(255, 255, 255, 0.64);
    width: 100%;
    height: 60px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 32px;
    line-height: 38px;
    color: #333333;
    margin-bottom: 24px;
}

div.containFlex {
    display: flex;
    align-content: stretch;
}

div.boxSelection {
    width: 100%;
    margin-right: 24px;
}

select#sendToBox {
    height: 60px;
    width: 100%;
    background: linear-gradient(90.21deg, #C233FF 2.25%, #742BD0 97.49%);
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

p.save {
    margin-top: 0;
    text-align: center;
}

/* Select a Sound Section */

div.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recordImg, .songsImg {
    position: relative;
 /*   top: -40px; */
 /*   margin: 24px; */
    z-index: 5;
    position: relative;
}

.button-box {
    width: 150px;
    height: 150px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.button-bg-dot {
    height: 155px;
    width: 155px;
    background-color: rgb(143, 209, 0, .01);
    box-shadow:
    0 0 10px 10px rgb(255, 255, 255, .3),  /* inner white */
    0 0 20px 20px rgb(255, 0, 255, .3); /* middle magenta */
    backdrop-filter: blur(20px);
    border-radius: 50%;
    z-index: -3;
    position: absolute;
  }

 .makeImg {
     z-index: 2;
     position: absolute;
 }
 .recordImg {
    z-index: 2;
    position: absolute;
}
.songsImg {
    z-index: 2;
    position: absolute;
}

.button-box-center {
    margin-top: 100px;
}

.recordImgDot, .songsImgDot {
    display: none;
}


/* Review Music and Submit Section */

div.soundBar {
    width: 16%;
    background: rgba(255, 255, 255, 0.28);
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 64px;
}

input.soundBarIcons {
    margin: 0 24px 50px 24px ;
}

.reviewMusicSubmit img {
    margin: 12px;
    margin-bottom: 48px;
}

button.sendToBox {
    width: 100%;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.sendToBoxButton {
    background: linear-gradient(90.21deg, #C233FF 2.25%, #742BD0 97.49%);
}

/* Songs Selection Section ///////////////////////////////////////// */

div.songsSelection {
    padding-top: 100px;
    padding-bottom: 24px;
}

div.navArrow {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    bottom: 24px;
}
div.songsUnselected {
    width: 16%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 8px;
    margin-right: 8px;
}
div.songSelected {
    width: 16%;
    height: 217px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 24px;
    margin-right: 24px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 60px;
}

div#songDivMain {
    border: 2px solid #FFF;
    border-radius: 8px;
    padding-top: 24px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* SOUND RECORDING DIV MAIN STYLES */
div.recordDivMain {
    border: 2px solid #FFF;
    border-radius: 8px;
    padding-top: 24px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-image: url("images/successImage.png"); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: initial; */
}

img.rec_buttons {
    margin: 10px;
    margin-bottom: 26px;
}

#recordDivMain {
    display: none;
}

#songDivMain {
    display: none;
}
